<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="./assets/faviconfranco.png" type="image/x-icon">
  <title>Franco Pet-Shop | Contacto </title>
</head>

<body class="container-fluid-p0 d-flex flex-column">

  <main id="app">

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fs-5" aria-label="Third navbar example">
      <div>
        <a href="index.html"><img class="ms-5" src="./assets/logo_franco_petshop.png" alt="logo pet-shop"
            width="100"></a>
      </div>
      <div class="container-fluid">
        <button class="ms-auto navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <div class="navbar-nav d-flex container-fluid flex-wrap">
            <ul class="navbar-nav d-flex flex-grow-1 justify-content-center">
              <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="./index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="./farmacia.html">Farmacia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="./juguetes.html">Jugueteria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">Contacto</a>
              </li>            </ul>
              <a class="canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight" v-on:click="total()">
                <i class="bi bi-cart4"></i>
                <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger" id="spanCarrito"></span>
              </a>
  
            </div>
          </div>
        </div>
  
      </nav>
  
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h3 id="offcanvasRightLabel">Carrito de Compras</h3>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-between ">
  
          <div class="text-center product-in-storage" v-show="storageCarrito != 0">
  
            <table class="table table-hover">
              <thead>
                  <th>Imagen</th>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Accion</th>
              </thead>
              <tbody>
                <tr v-for="producto in storageCarrito">
                  <td><img :src="producto.imagen" class="rounded-circle" alt="" width="40"></td>
                  <td class="pt-3 text-center"> {{producto.nombre}}</td>
                  <td class="pt-3 text-center"> ${{producto.precio}}</td>
                  <td class="pt-3 text-center">{{producto.cantidad}} </td>
                  <td>
                    <div class="d-flex w-100 justify-content-evenly">
  
                      <button class=" btn-info btn-sm" @click="agregarCarrito(producto)">
  
                        +
                      </button>
                      <button class=" btn-danger btn-sm " @click="removerCarrito(producto)">
                        -
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Total Productos: {{totalEnCarrito}}</td>
                </tr>
  
              </tfoot>
            </table>
            <div id="totalFinal"></div>
            <button type="button" class="btn btn-success canvasButton" onclick="compraRealizada()"
              v-on:click="comprar()">Comprar</button>
              <button v-if="storageCarrito.length>0" href="#" id="botoncinNav"
                class="btn btn-danger canvasButton " @click="vaciarCarrito()">Vaciar</button>
  
          </div>
  
        </div>
      </div>

    <div class="width-form">
      <form class="row g-3 m-5">
        <div class="mb-3 p-2 bg-light border row align-items-start">
          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label ml-5 ">Nombre</label>
            <input type="text" id="fname" name="fname" class="form-control" id="exampleFormControlInput1"
              placeholder="Nombre" required>
          </div>
          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" type="text" id="lname" name="lname" class="form-control" id="exampleFormControlInput1"
              placeholder="Apellido">
          </div>
          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label ">Nro. de Telefono</label>
            <input type="tel" id="tel" name="tel" class="form-control w-50" id="exampleFormControlInput1"
              placeholder="+54 9 112424-2525" required>
          </div>
          <div class="col-12">
            <label for="exampleFormControlInput1" class="form-label">Direccion de E-mail</label>
            <input type="email" class="form-control w-50" id="exampleFormControlInput1" placeholder="nombre@mail.com">
          </div>
          <div class="col-md-4 d-flex flex-column w-75">
            <label for="tipoDeMascota" class="form-label m-2">Que tipo de mascota tenes?</label>
            <div class="d-flex flex-wrap">
              <select id="tipoDeMascota" class="form-select w-50">
                <option selected>Perro</option>
                <option>Gato</option>
                <option>Loro</option>
                <option>Coballo</option>
                <option>Otro</option>
              </select>
              <input type="text" style="margin-left: 5px" name="otroTipoDeMascota" id="otroTipoDeMascota"
                placeholder="¿Otro?">
            </div>
          </div>

          <div class="col-12">
            <label for="exampleFormControlTextarea1" class="form-label">Dejanos tu consulta</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="col-8 m-2 l-5 frame">
            <button class="custom-btn btn-3"><span>Enviar Consulta</span></button>
            <!-- <button type="submit" class="btn btn-primary">Enviar consulta</button> -->
          </div>
        </div>
      </form>
    </div>




  </main>
  <!-- Mas Info -->


  <button id="masInformacion-boton" class="btn text-center botoninfo" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-chevron-up"></i> Más información <i class="bi bi-chevron-up"></i>
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card cart-body card-informacion">
      <div id="masInformacion-contenedor"
        class="container-fluid-p0 d-flex justify-content-around pt-4 pb-4 text-dark flex-wrap row">

        <div class="col-lg-2">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59484.290830580394!2d-58.47134234244616!3d-34.61899526071686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca429815227f%3A0x5d302e497c2cda87!2sR%C3%ADo%20de%20Janeiro%20300%2C%20C1405CCB%20CABA!5e0!3m2!1ses-419!2sar!4v1649876918684!5m2!1ses-419!2sar"
            class="map" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col-lg-2 extrainfo">
          <h3>Tienda</h3>
          <ul>
            <li><a href="./farmacia.html">Farmacia</a></li>
            <li><a href="./juguetes.html">Jugueteria</a></li>
          </ul>
        </div>

        <div class="col-lg-2 extrainfo">
          <h3>Servicio al cliente</h3>
          <ul>
            <li><a class="swal-preguntas-frecuentes" onclick="preguntasFrecuentes()">Preguntas Frecuentes</a></li>
            <li><a class="swal-atencion-al-cliente" onclick="atencionAlCliente()">Atencion al cliente</a></li>
            <li><a class="swal-terminos-y-condiciones" onclick="terminosYCondiciones()">Terminos y condiciones</a></li>
            <li><a class="swal-medios-de-pago" onclick="mediosDePago()">Medios de Pago</a></li>
          </ul>
        </div>

        <div class="col-lg-2 extrainfo">
          <h3>Sobre Nosotros</h3>
          <ul>
            <li><a class="swal-quienes-somos" onclick="quienesSomos()">Quiénes Somos</a></li>
            <li><a href="./contactenos.html">Contacto</a></li>
          </ul>
        </div>

        <div class="col-lg-2 infocontacto d-flex flex-column container">
          <h6>Contáctanos</h6>
          <span class="d-flex gap-3 pb-2"><a href="https://www.facebook.com/MindHubLa/" target="_blank"><i
                class="bi bi-facebook" style="font-size:25px"></i></a>
            <a href="https://www.instagram.com/mindhub_la/" target="_blank"><i class="bi bi-instagram"
                style="font-size:25px"></i></a>
            <a href="http://www.twitter.com/mindhub" target="_blank"><i class="bi bi-twitter"
                style="font-size:25px"></i></a></span>

          <a href="mailto:FrancoPetShop@gmail.com">FrancoPetShop@gmail.com</a>
          <a href="tel:+5491124966463">+54 9 11 2496-6463</a>
          <p>Rio de Janeiro 300, Buenos Aires, Argentina</p>
        </div>

      </div>
    </div>
  </div>

  <footer class="d-flex align-items-center justify-content-around p-2 flex-wrap">
    <p class="ps-5">&copy;Franco Pet-Shop 2022 - Todos los derechos reservados</p>
    <div>
      <img id="mp" src="assets/mercadopago1.png" alt="mercado pago" width="100">
      <img src="assets/uala2.png" alt="mercado pago" width="100">
      <img id="dataFiscal" src="./assets/Datafiscal.jpg" alt="data fiscal" width="50">
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="./scripts/main.js"></script>
  <script src="./scripts/sweetAlert.js"></script>
</body>

</html>