<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="./assets/faviconfranco.png" type="image/x-icon">
  <title>Franco Pet-Shop | Farmacia </title>
</head>

<body class="container-fluid-p0 d-flex flex-column">
  <main id="app">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fs-5" aria-label="Third navbar example">
      <div>
        <a  href="index.html"><img class="ms-5" src="./assets/logo_franco_petshop.png" alt="logo pet-shop"
            width="100"></a>
      </div>
      <div class="container-fluid">
        <button class="ms-auto navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <div class="navbar-nav d-flex container-fluid flex-wrap">
            <ul class="navbar-nav d-flex flex-grow-1 justify-content-center">
              <li class="nav-item">
                <a  class="nav-link fw-bold" aria-current="page" href="./index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link fw-bold" href="#">Farmacia</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link fw-bold" href="./juguetes.html">Jugueteria</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link fw-bold" href="./contactenos.html">Contacto</a>
              </li>
            </ul>
            <a class="canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" v-on:click="total()">
              <i class="bi bi-cart4"></i>
              <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger" id="spanCarrito"></span>
            </a>

          </div>
        </div>
      </div>

    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">Carrito de Compras</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between ">

        <div class="text-center product-in-storage" v-show="storageCarrito != 0">

          <table class="table table-hover">
            <thead>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Accion</th>
            </thead>
            <tbody>
              <tr v-for="producto in storageCarrito">
                <td><img :src="producto.imagen" class="rounded-circle" alt="" width="40"></td>
                <td class="pt-3 text-center"> {{producto.nombre}}</td>
                <td class="pt-3 text-center"> ${{producto.precio}}</td>
                <td class="pt-3 text-center">{{producto.cantidad}} </td>
                <td>
                  <div class="d-flex w-100 justify-content-evenly">

                    <button class=" btn-info btn-sm" @click="agregarCarrito(producto)">

                      +
                    </button>
                    <button class=" btn-danger btn-sm " @click="removerCarrito(producto)">
                      -
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Total Productos: {{totalEnCarrito}}</td>
              </tr>

            </tfoot>
          </table>
          <div id="totalFinal"></div>
          <button type="button" class="btn btn-success canvasButton" onclick="compraRealizada()"
            v-on:click="comprar()">Comprar</button>
            <button v-if="storageCarrito.length>0" href="#" id="botoncinNav"
              class="btn btn-danger canvasButton " @click="vaciarCarrito()">Vaciar</button>

        </div>

      </div>
    </div>



    <div>
      <div>

        <div id="filtro">
          <div class="d-flex justify-content-around flex-wrap align-items-center">
            <div>
              <input type="text" v-model="nombreDelBuscador" v-on:click="buscadorMed" placeholder="Que producto buscas?" class="form-control" id="exampleFormControlInput1" >
            </div>
            <div class="form-check form-switch">
              <label for="600" class="form-check-label">Menos de $600</label>
              <input type="checkbox" class="form-check-input" v-model="rangoDePrecios" id="600" value="600" role="switch">
            </div>
            <div class="form-check form-switch">
              <label for="601" class="form-check-label">Mas de $600</label>
              <input type="checkbox" v-model="rangoDePrecios" class="form-check-input" id="601" value="601" role="switch">
            </div>
            <select class="form-select" v-model="ordenSeleccionado" name="ordenar" v-on:change="ordenarMedicamentos">
              <option value="" disabled selected>Ordenar</option>
              <option value="alfabeticamenteAZ">Alfabeticamente a-z</option>
              <option value="alfabeticamenteZA">Alfabeticamente z-a</option>
              <option value="menorPrecio">Menor Precio</option>
              <option value="mayorPrecio">Mayor Precio</option>
            </select>
          </div>
      </div>

      </div>
      <div class="container">
      <div class="row">
        <div class="col-md-4 pt-2 pb-4" v-for="medicamento in medFiltradosPorPrecio">
          <div class="card-store h-100 col-12-md-4">
            <img :src="medicamento.imagen" class="imgBox" :alt="medicamento.nombre">
            <div class="contentBox text-center">
              <div class="d-flex justify-content-between">

                <h5 class="pb-3 card-title">{{medicamento.nombre}} (cant: {{medicamento.stock}})</h5>
              </div>
              <!-- ACCORDION -->
              <p>
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                  Descripcion
                </button>
              </p>
              <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                  <div class="card card-body" style="width: 300px;">
                    <p class="card-text text-light">{{medicamento.descripcion}}</p>
                  </div>
                </div>
              </div>

              <!-- FIN ACCORDION -->

              <div class="buy d-flex justify-content-evenly w-100">
                <button type="button" class="btn btn-info noclick">${{medicamento.precio}}</button>

                <button type="button" class="btn btn-success noclick" v-if="medicamento.stock >= 6">Hay stock!</button>
                <button type="button" class="btn btn-danger noclick" v-else-if="medicamento.stock == 0">No hay stock!</button>
                <button type="button" class="btn btn-warning noclick" v-else-if="medicamento.stock < 6">Ultimas
                  unidades!</button>

                <button onclick="productoAgregado()" v-if="medicamento.stock > 0"
                  v-on:click="agregarCarrito(medicamento), contadorCantidadProductosCarrito(), total()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart2"
                    viewBox="0 0 16 16">
                    <path
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                  </svg></button>
                <button v-else-if="medicamento.stock == 0" disabled="true"><svg xmlns="http://www.w3.org/2000/svg"
                    width="22" height="22" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                    <path
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                  </svg></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Mas Info -->


  <button id="masInformacion-boton" class="btn text-center botoninfo" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-chevron-up"></i> Más información <i class="bi bi-chevron-up"></i>
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body card-informacion">
      <div id="masInformacion-contenedor"
        class="container-fluid-p0 d-flex justify-content-around pt-4 pb-4 text-dark flex-wrap row">

        <div class="col-lg-2">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59484.290830580394!2d-58.47134234244616!3d-34.61899526071686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca429815227f%3A0x5d302e497c2cda87!2sR%C3%ADo%20de%20Janeiro%20300%2C%20C1405CCB%20CABA!5e0!3m2!1ses-419!2sar!4v1649876918684!5m2!1ses-419!2sar"
            class="map" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col-lg-2 extrainfo">
          <h3>Tienda</h3>
          <ul>
            <li><a  href="./farmacia.html">Farmacia</a></li>
            <li><a  href="./juguetes.html">Jugueteria</a></li>
          </ul>
        </div>

        <div class="col-lg-2 extrainfo">
          <h3>Servicio al cliente</h3>
          <ul>
            <li><a class="swal-preguntas-frecuentes" onclick="preguntasFrecuentes()">Preguntas Frecuentes</a></li>
            <li><a class="swal-atencion-al-cliente" onclick="atencionAlCliente()">Atencion al cliente</a></li>
            <li><a class="swal-terminos-y-condiciones" onclick="terminosYCondiciones()">Terminos y condiciones</a></li>
            <li><a class="swal-medios-de-pago" onclick="mediosDePago()">Medios de Pago</a></li>
          </ul>
        </div>

        <div class="col-lg-2 extrainfo">
          <h3>Sobre Nosotros</h3>
          <ul>
            <li><a class="swal-quienes-somos" onclick="quienesSomos()">Quiénes Somos</a></li>
            <li><a  href="./contactenos.html">Contacto</a></li>
          </ul>
        </div>

        <div class="col-lg-2 infocontacto d-flex flex-column ">
          <h6>Contáctanos</h6>
          <span class="d-flex gap-3 pb-2"><a href="https://www.facebook.com/MindHubLa/" target="_blank"><i
                class="bi bi-facebook" style="font-size:25px"></i></a>
            <a href="https://www.instagram.com/mindhub_la/" target="_blank"><i class="bi bi-instagram"
                style="font-size:25px"></i></a>
            <a href="http://www.twitter.com/mindhub" target="_blank"><i class="bi bi-twitter"
                style="font-size:25px"></i></a></span>


          <a href="mailto:FrancoPetShop@gmail.com">FrancoPetShop@gmail.com</a>
          <a href="tel:+5491124966463">+54 9 11 2496-6463</a>
          <p>Rio de Janeiro 300, Buenos Aires, Argentina</p>
        </div>

      </div>
    </div>
  </div>

  <footer class="d-flex align-items-center justify-content-around p-2 flex-wrap">
    <p class="ps-5">&copy;Franco Pet-Shop 2022 - Todos los derechos reservados</p>
    <div>
      <img id="mp" src="assets/mercadopago1.png" alt="mercado pago" width="100">
      <img src="assets/uala2.png" alt="mercado pago" width="100">
      <img id="dataFiscal" src="./assets/Datafiscal.jpg" alt="data fiscal" width="50">
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="./scripts/main.js"></script>
  <script src="./scripts/sweetAlert.js"></script>
</body>

</html>